.letters 
    background-color: $bg-white
    padding: 10px 0
    position: sticky
    top: 80px
    z-index: 7
    .letter 
        margin-bottom: 0
    &.active
        .letter 
            display: flex
        .btn-letter_arrow
            transform: scaleY(-1)


.drugs 
    width: calc(100% - 470px)
    margin-bottom: 80px
    &-item  
        width: 25%
        svg 
            opacity: 0
            width: 0
            height: 16px
            fill: $green
            transition: all 0.3s ease
    &-link 
        font-size: 16px
        line-height: 35px
        font-weight: 500
        color: $blue
        &:hover 
            color: $green
            svg 
                width: 17px
                opacity: 1
                margin-right: 8px

.drug 
    width: 470px
    border: 1px solid $gray-200
    padding: 0 30px 20px 30px
    height: fit-content
    &-img 
        margin: 0 auto
        width: 100%
        max-height: 340px
        border-bottom: 1px solid $gray-200
        margin-bottom: 32px

.btn-letter
    height: 63px
    background-color: $bg-white
    display: none
    width: 100%
    text-align: left
    span 
        white-space: nowrap
    img 
        width: 15px 
        height: 15px

@media only screen and (max-width : 1199px)
    .drugs
        width: calc(100% - 290px)
    .drugs-item
        width: 33.33%
    .drug 
        width: 290px
        padding: 0 20px 20px
        .fs-30
            font-size: 25px
            line-height: 1.2
        .fs-18
            font-size: 16px
            line-height: 1.2
    .drug-img
        max-height: 260px
        padding-bottom: 0
        margin-bottom: 20px

@media only screen and (max-width : 991px)
    .letters
        padding-top: 0
    .drugs, .drug
        width: 100%
    .drugs
        margin-bottom: 25px
    .btn-letter 
        display: block 
    .letters
        position: inherit
        top: 146px
        padding: 0
        box-shadow: $shadow
        .letter
            padding: 30px 0 0
            display: none
            border-top: 1px dotted $gray-200
        .letter-link
            background-color: $bg-white
            border: 1px solid $gray-200
            line-height: 33px
    .drug 
        margin-bottom: 60px
@media only screen and (max-width : 575px)
    .drugs-item
        width: 50%

@media only screen and (max-width : 411px)
    .drugs-item
        width: 100%
    