.product
    background-color: $bg-white
    box-shadow: $shadow2
    padding: 40px 30px 5px
    margin-top: 28px
    position: relative
    margin-bottom: 22px
    // &:before 
    //     content: ''
    //     position: absolute
    //     background: url("../img/common/shape_1_copy_7464.png") no-repeat center / contain 
    //     width: 220px 
    //     height: 220px 
    //     z-index: 0
    //     top: calc(100% - 80px)
    //     right: 225px
    &-title 
        position: relative
        width: 100%
        margin-right: 70px
        &:before, &:after
            content: ''
            position: absolute
            bottom: 0
        &:before 
            left: 0
            width: 62px
            height: 2px
            margin: 0
            background: url("../img/common/dotted-2.png") no-repeat center / contain
        &:after
            right: 0
            width: calc(100% - 62px - 32px)
            height: 1px
            background-color: #e6ebeb

    &-left 
        width: 315px 
    &-center  
        width: calc(100% - 630px)
        padding: 0 30px
        max-width: 655px
        margin-right: auto
    &-right 
        width: 315px 

.mailfree-block 
    .w-50 
        border-right: 1px solid $gray-200
        &:last-child
            border-right: none

.table
    &-tr
        padding: 13px 0 13px 10px
        border-bottom: 1px solid  $gray-200
        min-height: 59px

#map
    height: 100% 
    max-height: 504px

.mapside
    padding: 40px 22px
    position: relative
    width: 50%

.map-tooltip
    position: absolute 
    top: 20px 
    right: 0
    background-color: $bg-white
    border: 1px solid $gray-200
    box-shadow: $shadow2
    padding: 13px 25px

.contry 
    border-top: 1px solid $gray-200
    padding: 20px 0
    margin-top: 14px

.bg-before-blue:before 
    content: ''
    position: absolute 
    top: 0 
    left: 0
    width: 100%
    height: 719px
    background-color: $bg-blue-light
    z-index: -1
    pointer-events: none

.table_in_td-first
    flex-basis: 60%

.content-item
    display: none
    &.active 
        display: block
    &_table
        width: 50%
        padding-right: 10px
    &_links
        width: 220px
        border-right: 1px dashed $gray-200
        position: sticky 
        top: 90px
        height: fit-content
        padding-bottom: 20px
    &_info
        width: calc(100% - 440px - 220px)
        padding: 0 30px
        
    &-imgs
        width: 440px
        .drug 
            width: 100%
            &-img 
                max-height: 350px
    &_side
        width: calc(100% - 440px)
        padding-right: 30px
    &_drug 
        max-width: 440px
        width: 100%
        padding-bottom: 20px
        .drug 
            width: 100%

.flex-basis-1
    flex-basis: 59.5%

.flex-basis-2
    flex-basis: 50%

.flex-basis 
    +d-flex(flex-start,flex-end)
    flex-basis: 57%

.card-images 
    width: calc(33.33%)
    padding: 14px 11px
    line-height: 18px
    border-right: 1px dashed rgba($gray-light, 0.24)
    position: relative
    &.bb-1
        border-bottom: 1px dashed rgba($gray-light, 0.24)
    &_plus 
        position: absolute
        right: -22.5px
        bottom: -22.5px
        background-color: $white
        width: 43px 
        height: 43px
        z-index: 1
        &:before, &:after 
            content: ''
            +centerXY
            background-color: rgba($bg-gray-light, 0.24)
        &:before 
            width: 21px
            height: 1px
        &:after 
            height: 21px
            width: 1px
    img 
        margin-bottom: 13px
        border-radius: 3px
        width: 100%
        height: 91px
        object-fit: cover
    .fs-12, img
        position: relative
        z-index: 3
    &:nth-child(3n+3)
        border-right-width: 0
        .card-images_plus
            display: none
        
    

.content-item-imgs_cards
    margin-left: -12px 
    margin-right: -12px
    padding-top: 3px 

@media only screen and (max-width : 1400px)
    .content-item_links
        width: 190px
    .content-item_info
        width: calc(100% - 375px - 190px)
        padding: 0 15px
    .content-item-imgs
        width: 375px
        .drug
            padding: 0 15px 15px
    .card-images img 
        height: 80px
@media only screen and (max-width : 1199px)
    .content-item_table, .mapside, .product-right
        width: 100%
    .product-right
        padding-bottom: 30px 
        padding-top: 60px
        border-bottom: 1px solid $gray-200
    .product-center
        width: calc(100% - 315px)
        max-width: 100%
    .flex-basis-2
        flex-basis: 45.5%
    .flex-basis-1
        flex-basis: 71.5%
    .content-item_links 
        display: none
    .content-item_info
        width: calc(100% - 375px)
        padding: 0 30px 0 0
@media only screen and (max-width : 991px)
    .product
        padding: 20px 15px
    .flex-basis-1
        flex-basis: 67.5%
    .content-item-imgs, .content-item_info
        width: 100%
        padding: 0
    .content-item-imgs_cards
        max-width: 470px
    .max-lg-440
        max-width: 440px
    .card-images img
        height: 101px
    .content-item_side
        width: 100%
        padding-right: 0
    .content-item_drug
        margin: 0 auto
@media only screen and (max-width : 767px)
    .product-left
        width: 100%
    .product-center 
        width: 100% 
        padding: 0
    .table_in 
        tr
            display: grid
        td 
            width: 100%
        .c-green
            font-size: 14px
        .fs-20 
            text-align: right
            font-size: 16px
        .fs-30 
            font-size: 20px
    .table_in_td-first 
        border-bottom: 1px solid $gray-200
        padding-bottom: 15px 
        margin-bottom: 15px
        display: flex
        min-height: 57px
    .flex-basis-2, .flex-basis-3
        flex-basis: 50%

@media only screen and (max-width : 575px)
    .settings 
        flex-wrap: wrap
    .settings .select
        border-right: 1px solid $gray-100
        border-bottom: none 
        border-radius: 0!important
        &:last-child
            border-bottom: 1px solid $gray-100
    .mapside 
        display: none
    .product 
        padding-bottom: 0
        margin-right: -15px 
        margin-left: -15px
        margin-top: 5px
        &-right 
            padding-bottom: 25px
            .line.my-30
                margin: 20px 0
            .fs-18
                font-size: 20px
            .btn.mt-30
                margin-top: 25px
    .table-tr 
        padding: 16px 0
        img.mr-25 
            margin-right: 15px
    .table_in_td-first
        .c-blue
            font-size: 14px
            line-height: 1.2
    .table_in_td-second 
        padding-left: 33px
    .content-item_table
        padding-right: 0
    .content-item-imgs_cards 
        max-width: calc(100% + 24px)
    .card-images img
        height: 19vw
    .content-item-imgs .drug 
        margin-bottom: 20px
@media only screen and (max-width : 360px)
    .card-images
        width: 50%
    .card-images
        &:nth-child(3n+3)
            border-right-width: 1px
            .card-images_plus
                display: block
        &:nth-child(2n+2)
            border-right-width: 0
            .card-images_plus
                display: none
    .card-images img
        height: 30vw