@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px)   
    .d-xl-block
        display: block
    .align-xl-items-end
        +d-flex(flex-strat, flex-end)
    .align-xl-items-center
        +d-flex(flex-strat, center)
    .d-xl-none
        display: none
    .pt-xl-0
        padding-top: 0
    .px-xl-15 
        padding-right: 15px 
        padding-left: 15px
    .pr-xl-15 
        padding-right: 15px
    .pl-xl-15 
        padding-left: 15px
    .mt-xl-20
        margin-top: 20px
    .mt-xl-0
        margin-top: 0
    .mr-xl-14
        margin-right: 14px
@media only screen and (min-width : 992px)               
    .flex-lg-center-between
        +d-flex(space-between, center) 
    .align-lg-items-end
        display: flex 
        align-items: flex-end
    .flex-lg-end-between
        +d-flex(space-between, flex-end) 
    .justify-content-lg-between
        +d-flex(space-between, flex-start) 

    .d-lg-block
        display: block
    .d-lg-none 
        display: none
    .stucky-lg
        position: sticky 
        top: 90px 
    .mr-lg-20
        margin-right: 20px
    .w-lg-50
        width: 50%
    .flex-lg-row
        display: flex 
        flex-direction: row
    .ml-lg-auto 
        margin-left: auto
    .mt-lg-0
        margin-top: 0
    .pr-lg-15
        padding-right: 15px
    .pl-lg-15
        padding-left: 15px
    .pl-lg-45
        padding-left: 45px
    
        
@media only screen and (min-width : 768px)
    .flex-md-center-between 
        +d-flex(space-between, center) 
    .align-md-items-end
        display: flex 
        align-items: flex-end
    .d-md-block
        display: block
    .d-md-none
        display: none
    .align-md-items-center
        display: flex 
        align-items: center
    .justify-md-content-center
        +d-flex(center, flex-start) 
    
@media only screen and (min-width : 576px)
    .align-sm-items-center
        display: flex 
        align-items: center
    .flex-sm-center-between
        +d-flex(space-between, center)
    .d-sm-block 
        display: block
    .d-sm-flex 
        display: flex
    .d-sm-none
        display: none!important
    .my-sm-0
        margin-top: 0
        margin-bottom: 0
    .pl-sm-20
        padding-left: 20px
    .w-sm-50
        width: 50%
    .pb-sm-20
        padding-bottom: 20px
    .py-sm-20
        padding-top: 20px 
        padding-bottom: 20px
    .py-sm-3
        padding-top: 16px 
        padding-bottom: 16px
    .mr-sm-8
        margin-right: 8px
    .fs-sm-16 
        font-size: 16px 
    .my-sm-55
        margin-top: 55px 
        margin-bottom: 55px
    .pr-sm-15
        padding-right: 15px 
    .pl-sm-15
        padding-left: 15px
    .pb-sm-80
        padding-bottom: 80px
    .py-sm-60
        padding-top: 60px 
        padding-bottom: 60px
@media only screen and (max-width : 991px)
    .slick-slide
        margin-right: 10px
    .mb-75
        margin-bottom: 50px
    .active-search-lg  
        .search
           opacity: 0
           pointer-events: none
        .search-lg
            display: block
    .search-lg
        margin: 20px 0 0
        max-width: 100%
    .collapse 
        &-item
            .icon-angle-down
                transition: all 0.3s ease
                transform: rotate(-90deg)
                margin: 0
        &.active  
            .collapse-item .icon-angle-down
                transform: rotate(0)
    .collapse-drop 
        display: none   
    .search-price input 
        padding: 7px 18px 8px 18px
    .search-price button
        background-color: transparent
        max-width: 55px
        padding: 0
    .search-dropdown
        max-height: calc(100vh - 145px)
    
@media only screen and (max-width : 575px)
    .fs-35
        font-size: 30px
        line-height: 30px
    .fs-40
        font-size: 32.6px
        line-height: 1.2
    .fs-100
        font-size: 81.4px
        line-height: 52px
    .social
        padding-bottom: 25px
    .tabs
        border: none
    .tabs-item
        border-right: 0
        border-bottom: 1px solid $gray-200
        margin-right: -15px 
        margin-left: -15px 
        padding: 0 15px!important
        // margin-bottom: 30px
        width: calc(100% + 30px)
        &:first-child .tabs-item_main
            border-top: none
    .tabs-item .tabs-item_main
        position: relative
        padding: 16px 0
    .tabs-item.active .tabs-item_main 
        border-bottom: none
    .tabs-item.active .tabs-item_main:before 
        content: ''
        position: absolute
        left: 0
        bottom: -1px
        height: 3px
        width: 130px
        background-color: #00c498
        transition: all 0.3s ease
    .tabs-item
        padding-left: 0
    .tabs-item:before
        content: none   
    .list_article-item img
        margin-bottom: 30px
        float: initial
        width: 100%
        height: auto  
    .search-dropdown
        left: 0 
        min-width: auto
        width: 100%
    .search-dropdown_list a
        padding: 8px 10px
        font-size: 12px
        line-height: 1.2
    .search-dropdown_view 
        li img
            +box(50px,40px)
            margin-right: 10px
        .fs-14 
            font-size: 12px
            line-height: 1.2