.fs-100
    font-size: 100px 
    line-height: 66px

.fs-80 
    font-size: 80px
    line-height: 80px 
    
.fs-50
    font-size: 50px 
    line-height: 45px

.fs-40
    font-size: 40px 
    line-height: 1.2

.fs-35 
    font-size: 35px 
    line-height: 35px

.fs-30  
    font-size: 30px
    line-height: 1.2
   
.fs-25  
    font-size: 25px
    line-height: 1.2

.fs-20 
    font-size: 20px
    line-height: 1.2

.fs-18
    font-size: 18px
    line-height: 26px
    
.fs-16 
    font-size: 16px 
    line-height: 24px 
    
.fs-14 
    font-size: 14px 
   
.fs-13_5
    font-size: 13.5px 
    line-height: 1.2
    
.fs-12 
    font-size: 12px
    line-height: 1.2

.fs-10
    font-size: 10px
    line-height: 14px
    
.fw-medium  
    font-weight: 500

.fw-semi
    font-weight: 600
    
.fw-bold
    font-weight: 700 
    
.fw-extrabold
    font-weight: 800 
    
.c-white 
    color: $white
    fill: $white!important

.c-blue
    color: $blue
    fill: $blue

.c-blue-light
    color: $blue-light
    fill: $blue-light

.c-blue-navy
    color: $blue-navy
    fill: $blue-navy

.c-green
    color: $green
    fill: $green!important
    
.c-green-light
    color: $green-light
    fill: $green-light

.c-gray
    color: $gray
    fill: $gray

.c-gray-400
    color: $gray-400   

.c-gray-500
    color: $gray-500
    fill: $gray-500
   
.c-gray-600
    color: $gray-600
    fill: $gray-600

.c-gray-light
    color: $gray-light
    fill: $gray-light

.text-up 
    text-transform: uppercase

.text-center
    text-align: center

.text-right
    text-align: right

.text-nowrap
    white-space: nowrap

.text-italic
    font-style: italic
    
.lh-55
    line-height: 55px

.lh-50
    line-height: 50px

.lh-45
    line-height: 45px

.lh-34
    line-height: 34px

.lh-30 
    line-height: 30px 
    
.lh-24
    line-height: 24px

.lh-20
    line-height: 20px

.lh-22
    line-height: 22px

.lh-1_2
    line-height: 1.2

.lh-1 
    line-height: 1

.lh-14
    line-height: 14px