.drug
    img.drug-img(src="img/product/layer_67_7584.jpg", alt="product")
    .justify-content-between 
        div
            a.fs-25.c-blue.text-up(href="#") Ketoprofen
            a.fs-16.c-green.d-block(href="#") Sildenafil
        p.lh-20.d-xl-block.d-none Much сheaper <br> than in the USA
    .flex-center-between.my-10 
        .align-xl-items-end
            p.fs-30.c-green.fw-bold.lh-34 $8.38
            p.c-gray-light.px-15.d-xl-block.d-none /
            p.fs-18.fw-semi.c-green Save 73%
        a.btn.fs-16.lh-50(href="#") Order Now
    hr.line.my-20.d-xl-none
    p.lh-20.d-xl-none.d-block Much сheaper than in the USA