.slick-dots 
  +d-flex(center)
  padding-top: 10px
  height: auto
  li 
    margin: 0 5px
    height: 4px
    line-height: 1
    button
      color: transparent 
      width: 25px
      height: 4px
      background-color: $gray-100
      padding: 0 
      margin: 0
    &.slick-active
      button 
        background-color: $green

.slick-slide
    outline: none 

.slider-for
  width: 100%
  max-height: 315px
  img 
    margin: 0 auto
  .slick-dots 
    padding-top: 32px
    li button 
      border-radius: 50% 
      width: 14px 
      height: 14px
      background-color: transparent 
      border: 1px solid $gray-light
  .slick-dots li.slick-active button
    background-color: $bg-green 
    border-color: $green


.slider-nav 
    padding: 10px 0

.slider-nav-item 
    width: 50px
    height: 50px
    background-color: $bg-white
    border: 1px solid $gray-200
    border-radius: 3px
    margin: 5px

.slick-slide.slick-current.slick-center
    border-color: $green


@media only screen and (max-width : 767px)
  .slider-nav 
    display: none!important
  .slider-for
    max-height: 100%
    padding-bottom: 74px

