extends layout/main2

block variables
	-var title = 'Contact'

block content
	main.contact
		.container
			ul.breadcrumbs
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#")
						+icon("house")
				+breadcrumbs-item('Contact Us')
			.justify-content-lg-between.contact-row 
				.max-360.py-sm-60.py-30
					div
						h1.fs-35.text-up Get in
							span.c-green.fw-semi.d-block Touch!
						.dashed-horizontal.my-25
			
					p.pb-20 Pri ea dictas phaedrum, ius saepe equidem epicuri te. Alterum suscipit qui ex, eam ex mutat illud disputationi. His option repudiare ei, ea cum alia sanctus, quo cu exerci interpretaris. Sit an minimum cotidieque. Numquam feugiat voluptatum ut ius, ei odio elitr epicurei sed.
					
					.align-items-center
						+icon("support_mail")
						div 
							p.fs-14.fw-semi.c-gray-600 Our support center 24/7
							p.fs-sm-16.fs-14.c-green support@mailhealthcare.com
				.max-735.pl-lg-15
					form.bg-white.form
						.form-container
							h1.fs-35.text-up Sent us
								span.c-green.fw-semi.d-block a message
							.dashed-horizontal.my-25
							.relative.mb-20
								input.input-form(type="text" placeholder="Your Name" required)
								+icon("form_user","icon-input")
							.relative.mb-20
								input.input-form(type="email" placeholder="E-mail" required)
								+icon("form_envelop","icon-input")
							.relative.mb-20 
								textarea.textarea-form(name="", cols="10", rows="4" placeholder="Your message...")

							.flex-sm-center-between.pt-10
								label.flex-center-center
									input.checkbox(type="checkbox")
									span.check.mr-14
										+icon("check")
									span.fs-14 I agree to the newsletter
								button.btn.max-220.lh-50.fs-16.w-100(type="submit")
									+icon("arrow_right")
									|Send
		include modules/footer/footer