extends layout/main2

block variables
	-var title = 'Contact'

block content
	main.contact
		.container
			ul.breadcrumbs
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#")
						+icon("house")
				+breadcrumbs-item('Contact Us')
			.justify-content-lg-between.contact-row 
				.max-360.py-sm-60
					div
						h1.fs-35.text-up Get in
							span.c-green.fw-semi.d-block Touch!
						.dashed-horizontal.my-25
			
					p.mb-40.c-gray-600.lh-22 Pri ea dictas phaedrum, ius saepe equidem epicuri te. Alterum suscipit qui ex, eam ex mutat illud disputationi.
					
					.d-flex.mb-30
						.pt-5
							+icon("placeholder","mr-sm-25 mr-14 c-green wh-25 ")
						.lh-22 
							p.fs-14.fw-semi.c-gray-600.text-up Office
							p Unit 4/5, Progress Mill, Progress <br class="d-lg-block d-none">St, Marshouse Lane, Darwen,<br class="d-lg-block d-none"> Lancs, BB3 3JB
					.d-flex.mb-30
						.pt-5
							+icon("phone-call","mr-sm-25 mr-14 c-green wh-25")
						.lh-22
							p.fs-14.fw-semi.c-gray-600.text-up Phone
							p +1 (855) 770-1077
					.d-flex.mb-30
						.pt-5
							+icon("envelope","mr-sm-25 mr-14 c-green wh-25")
						.lh-22
							p.fs-14.fw-semi.c-gray-600.text-up Email
							p info@profarmaexpress.com
					.d-flex.mb-30
						.pt-5
							+icon("clock","mr-sm-25 mr-14 c-green wh-25")
						.lh-22
							p.fs-14.fw-semi.c-gray-600.text-up Monday - Friday
							p 9 AM - 5 PM EST
				.max-735.pl-lg-15
					form.bg-white.form
						.form-container
							h1.fs-35.text-up Sent us
								span.c-green.fw-semi.d-block a message
							.dashed-horizontal.my-25
							.relative.mb-20
								input.input-form(type="text" placeholder="Your Name" required)
								+icon("form_user","icon-input")
							.relative.mb-20
								input.input-form(type="email" placeholder="E-mail" required)
								+icon("form_envelop","icon-input")
							.relative.mb-20 
								textarea.textarea-form(name="", cols="10", rows="4" placeholder="Your message...")

							.flex-sm-center-between.pt-10
								label.flex-center-center
									input.checkbox(type="checkbox")
									span.check.mr-14
										+icon("check")
									span.fs-14 I agree to the newsletter
								button.btn.max-220.lh-50.fs-16.w-100(type="submit")
									+icon("arrow_right")
									|Send
		include modules/footer/footer