extends layout/main

block variables
	-var title = 'product map'

block content
	.product-i-map
		.container
			h1.fs-80.c-white.fw-bold SAME PILLS. <br> LOWER PRICES.
			.dashed-horizontal.my-30.py-3.dashed-horizontal-dark
			.max-w-480
				p.fs-14.c-white.lh-22.pb-20 Save on your medications today! MailHealthCare Helps You Save with Prescription. Drug prices vary significantly by pharmacy location. Prices can even vary between pharmacies directly across the street from each other. MailHealthCare helps you find needed drugs at pharmacies in the world, so you can save up to 85% on prescriptions.

				form.search.mx-0.mt-30
					+icon("pills_002", "search-pills")
					input.search-drug(type="text" placeholder="Type your drug name")
					button.mr-10(type="submit")
						+icon("search_magnific")

				p.fs-14.c-blue-light.mt-30 Popular searches: 
					span.fw-medium  Atorvastatin, Sildenafil, Zoloft, Lexapro...
			img.product-i-map_img(src="img/common/main_photo_9990.png", alt="main_photo_9990")
	.container.pt-xl-0.pt-35.topblock-img-none

		include layout/top-block