extends layout/main

block variables
	-var title = 'Letter'

block content
	.letters.active
		.container 
			button.btn-letter 
				span.flex-center-between
					span.c-blue.fw-medium Browse Medications by Letter
					img.btn-letter_arrow(src="img/common/angle-down.svg", alt="down")
			ul.letter.flex-wrap.flex-lg-center-between.flex-center-center
				each val, index in ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
					if (index==0)
						li.letter-item
							a.letter-link.active(href="#")=val
					else
						li.letter-item
							a.letter-link(href="#")=val
	.bg-before-blue
	.container
		ul.breadcrumbs.my-sm-0.my-20
			li.breadcrumbs__item
				a.breadcrumbs__link(href="")
					+icon("house")
			+breadcrumbs-item('Drug Directory', '#')
			+breadcrumbs-item('K')

		.topblock_v3
			include layout/top-block
		
		h2.fs-35.text-up.c-blue All drugs that start with 
			span.c-green.fw-bold  'k'
		.dashed-horizontal.my-20.py-3

		.flex-wrap 
			ul.drugs.flex-wrap 
				each val in ['K-Brovet', 'K-Effervescent', 'K-Phos', 'K-Phos 2', 'K-Phos MF', 'K-Phos Neutral', 'K-Tab', 'K9 Advantix II', 'Kadcyla', 'Kadian', 'Kaitlib FE', 'Kalbitor', 'Kaletra', 'Kalexate', 'Kalliga','K-Brovet', 'K-Effervescent', 'K-Phos', 'K-Phos 2', 'K-Phos MF', 'K-Phos Neutral', 'K-Tab', 'K9 Advantix II', 'Kadcyla', 'Kadian', 'Kaitlib FE', 'Kalbitor', 'Kaletra', 'Kalexate', 'Kalliga','K-Brovet', 'K-Effervescent', 'K-Phos', 'K-Phos 2', 'K-Phos MF', 'K-Phos Neutral', 'K-Tab', 'K9 Advantix II', 'Kadcyla', 'Kadian', 'Kaitlib FE', 'Kalbitor', 'Kaletra', 'Kalexate', 'Kalliga','K-Brovet', 'K-Effervescent', 'K-Phos', 'K-Phos 2', 'K-Phos MF', 'K-Phos Neutral', 'K-Tab', 'K9 Advantix II', 'Kadcyla', 'Kadian', 'Kaitlib FE', 'Kalbitor', 'Kaletra', 'Kalexate', 'Kalliga']
					li.drugs-item 
						a.drugs-link(href="#")
							+icon("arrow_right")
							=val
			
			include layout/drug