.header 
    background-color: $bg-white
    box-shadow: $shadow
    position: sticky
    top: 0
    z-index: 8
    min-height: 80px
    +d-flex(center)

.logo 
    &-item 
        height: 23px 
        width: 220px
        flex-shrink: 0
        background: url("../img/common/logo_desk_head.png") no-repeat center / contain

.menu 
    &-link
        font-size: 16px
        line-height: 77px
        font-weight: 500
        color: $gray-light
        border-bottom: 3px solid transparent
        display: block
        white-space: nowrap
        svg 
            width: 20px
            height: 20px
            fill: $gray-light
            margin-right: 10px
    &-item      
        padding: 0 28px 
        position: relative
        &:last-child
            padding: 0 0 0 28px 
            
        &:before 
            content: ''
            +centerY 
            right: 0
            width: 1px
            height: 20px
            background-color: $gray-100
        &:last-child:before 
            content: none
        &.active 
            .menu-link
                color: $blue-navy
                border-bottom: 3px solid $green
            svg
                fill: $green

.burger
    width: 24px
    height: 18px
    position: relative
    flex-shrink: 0
    z-index: 9
    &-line
        background-color: #002c4f
        border-radius: 1.5px
        +centerX
        height: 3px
        width: 100%
        transition: all 0.3s ease
        &-top
            top: 0
        &-center
            top: 50% 
            transform: translate(-50%,-50%)
        &-bottom
            bottom: 0
    &.active 
        .burger-line-top
            top: 50% 
            transform: translate(-50%,-50%) rotate(225deg)
        .burger-line-center
            opacity: 0
        .burger-line-bottom
            top: 50% 
            transform: translate(-50%,-50%) rotate(-225deg)

@media only screen and (min-width : 1200px)
    .burger
        display: none
    .menu 
        +d-flex(center)
@media only screen and (max-width : 1300px)
    .menu-item      
        padding: 0 20px 
        position: relative
        &:last-child
            padding: 0 0 0 20px 
    .logo-item
        width: 140px
@media only screen and (max-width : 1199px)
    .logo-item
        width: 220px
    .header
        padding: 15px 0
    .navmenu 
        position: fixed
        left: 0 
        top: 80px
        width: 100% 
        z-index: 8
        background-color: $bg-white
        border-top: 1px solid $gray-200
        display: none
    .menu-item
        padding: 0!important
    .menu-item.active .menu-link
        border-bottom: 1px solid $gray-200
        border-left: 3px solid $green
    .menu-link
        padding: 17px
        border-bottom: 1px solid $gray-200
        line-height: 1
    .menu-item:before
        content: none
    .header .search 
        width: 24px 
        height: 24px
        margin: 0
        input 
            display: none
            +centerY
            width: 240px
            right: -12px    
        button 
            width: 100%
            svg 
                width: 24px
                height: 24px
@media only screen and (max-width : 767px)
    .logo-item
        width: 140px