footer.footer
    .container 
        .footer-top
            .footer-top_container.flex-lg-center-between  
                p.w-lg-33.c-white.d-lg-block.d-none Copyright ©2011-2020 DrugRx, Inc.
                
                .w-lg-33 
                    a.logo(href="#")
                        img(src="img/common/logo_desk_futer.png", alt="logo")
                    ul.social.flex-center-center 
                        each val in ['facebook','twitter','instagram']
                            li.social-item 
                                a.social-link(href="#")
                                    +icon(val)

                ul.w-lg-33.flex-wrap.flex-center-center.footer_menu
                    each val in ['Terms of Use', 'Privacy Policy' , ' Disclaimer']
                        li.menu2-item
                            a.c-white(href="#")=val

                p.c-white.d-lg-none.text-center Copyright ©2011-2020 DrugRx, Inc.


    .footer-bottom 
        .container 
            p.c-white.text-center.max-1230 Usu melius facilis accumsan ex, duo id nonumes scripserit, tacimates instructior mel ad. Choro dolorum ut usu. Minim nostro sea no. Semper facete mei ne. Vis cu ornatus aliquando. Eros oratio graece ex vel. Dolor patrioque vel te. Duo vocibus assueverit eu, dicta aliquam percipit eos an. Vis cu or.

